/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS reset */

body {
  font-family: sans-serif;
}

.container {
  width: 768px;
  border: 6px solid rgb(222,222,222);
  /*background-color: beige;*/
}

.message {
  background-color: rgb(240,240,240);
  padding: 50px 50px 35px 50px;
}

.message .name {
  font-size: 1.2em;
  font-weight: bold;
  padding-bottom: 8px;
}

.message p {
  font-size: 1.2em;
  line-height: 1.5em;
  padding-bottom: 15px;
}

.message .cta {
  background-color: rgb(115,164,0);
  border-radius: 8px;
  color: #FFF;
  display: block;
  text-align: center;
  padding: 18px;
  text-decoration:none;
  font-size: 1.2em;
}

header {
 background-color: rgb(39, 48, 63);
 color: #FFF;
 text-align: center;
 padding: 10px;
}

h1 {
  font-size: 2em;
  text-align: center;
  font-weight: lighter;
}

h1 .khan {
  font-weight: bold;
}

.stats {
	outline: solid 1px blue;
	padding: 20px 0 0 0 ;
	text-align:center;
	text-transform: uppercase;;
}

.week-stats {
	outline: solid 1px red;
	display: inline-block;

	width: 200px;
}

.week {
	font-weight:bold;

}

.week, .energy-points {
	color:#888;
}

.two-weeks-ago .stats-value {
	background-color: rgb(133, 181, 200);

}

.stats-value {
	border-radius: 10px;
	color: #ffffff;
	display:inline-block;
	font-size: 4em;
	margin: 30px 0 15px 0;
	padding: 10px 15px;
}

.stats-value .operator {
	font-size: 2rem;
	outline:solid 1px red;
	padding-bottom: 10px;
	position: relative;
	bottom: 10px;
	right: 3px;
}

.last-week .stats-value {
	background-color: rgb(12, 109, 146);

}

.last-week .week{
	color: #000;
}

.energy-points {
  color: #888;

}

.close-to-earning {
	border-top: solid 2px #CCC;
	margin: 20px auto 0 auto;
	padding 30px 0 0 0;
	width: 600px;

}

.close-to-earning h2 {
	font-weight:bold;
	font-size: 1.2em;
	text-transform:uppercase;
  margin: 0 0 20px 0

}

.badge {
	background-color: rgb(175, 44, 28);
	border: solid 15px rgb(236,109,75);
	border-radius: 100%;
	color: rgb(249,227,210);
	display: inline-block;
	font-size: 4.5em;
	font-weight: bold;
	height: 90px;
	line-height: 1.2em;
	outline: solid 1px red;
	width 90px;


}

.badge-talk {
	outline: 1px solid red;
	display: inline-block;
	text-align: left;
	padding: 0 0 0 30px;
	width 270px;
}

.badge-talk p {
	margin: 5px 0;

}

.badge .second {
	font-style: italic;

}
