/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */

body {
  background-color: #fff;
}

.octodex {
	width: 99%;
}

.octocat {
	float: left;
  width: 28%;
	margin: .9%;
}

.octocat img {
	border: solid 1px #DDD;
	border-radius: 2px;
  max-width: 100%;
}


.image-footer {
	/* outline: 1px solid orange; */
	/*display: block;*/
	display: inline-block;
	border-bottom: solid 1px #DDD;
	color: #575757;
	font-family: sans-serif;
	font-size: .6em;
	padding-top: 4%;
	padding-bottom: 6%;
	width: 100%;
}

.image-number {
	/* outline: 1px solid red; */
  float: left;
	font-size: 1.3em;
	font-weight: bold;
	margin-left: 0;
  width: 10%;
}

/* How to prepend the hashtag:
https://www.smashingmagazine.com/2011/07/learning-to-use-the-before-and-after-pseudo-elements-in-css/
*/
.image-number:before {
   content: "#";
}

/* https://css-tricks/almanac/properties/p/position - absolute positioning "right"
*/

.image-caption {
	/* outline: 1px solid green; */
	display: inline-block;
	font-size: 1.1em;
  margin-left: 1%;
	text-align: right;
	float: right;
	width: 80%;
}

.image-caption a {
	color: #121212;
	font-weight: bold;
	text-decoration: none;
}

.authors, .authors img {
	/* outline: 1px solid red; */
	border-radius: 5px;
	display: inline-block;
	float: right;
  width: 20%;
}

/*
End of CSS
*/
