
.container {
	/* outline: 2px solid blue; */
	margin: 40px 25% auto;
	padding: 0;
	width: 250px;
}

ol {
	list-style-type: none;
}

li {
	background: #cce5ff;
	background-color: rgba(0,0,0,0.1);
  margin: 5px;
	width: 75%;
}

h1 {
	margin-left: 42px;
}
