/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of reset */
header h1 {
	padding-top: 30px;
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	color: #2CB249;
	margin-bottom: 25px;
}

.container {
  border: solid 2px #CECFD5;
  background-color: white;
  width: 600px;
	height: 500px;
  border-radius: 15px;
	text-align:center;
	margin: 0 auto;
	margin-left: 20px;
	margin-top: 40px;

}

#input {
	font-size: .8em;
	line-height: 2em;
	padding-left: 8px;
	margin-bottom: 10px;
	height: 30px;
	width: 120px;

}

.only-five {
	font-size: 1em;

	margin-bottom: 20px;

}


.used {
	border: solid 2px #CECFD5;
	background-color: white;
	font-size: 1.4em;
	color: rgba(0, 100, 255, .7);
	width: 120px;
	height: 20px;
	border-radius: 15px;
	padding: 5px;
	text-align:center;
	margin: auto;
}

h2 {
	font-size: 1.4em;
	color: rgba(0, 100, 255, .4);
	margin-bottom: 10px;
}

#button {
	background-color: rgba(0, 255, 0, .7);
	border-radius: 5px;
	line-height: 1.8em;
	font-size: .7em;
	font-weight: 500;
	width: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 10px;
}


#reset {
	background-color: rgba(230, 94, 109, .7);
	border-radius: 5px;
	line-height: 1.8em;
	font-size: .7em;
	font-weight: 500;
	width: 120px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.output {
	margin-top: 20px;
	margin-bottom: 30px;
}


/*
End of CSS
*/
